<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}AutoPrep as a Service{% endblock %}</title>

        <!-- Primary Libs -->
        <link href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}" rel="stylesheet">

    </head>
    <body>
        <!-- Header Section -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
                <a class="navbar-brand" href="/">AutoPrep as a Service</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="/examples">Examples</a>
                        </li> -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Main Content Section -->
        <main class="container">

            <!-- Default Content -->
            {% block content %}
            {% endblock %}
        </main>

        <!-- Primary Libs -->
        <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>

        <!-- js libs -->
        {% block js %} {% endblock %}
    </body>
</html>