{% extends '/layouts/layout.html' %}

{% block title %}Home - Auto Prep as a Service{% endblock %}

{% block content %}

    <h1 class="mt-4">{{ profile.name }}</h1>

    <h2 class="mt-4">Dataset Characteristics</h1>

    <div>
        <span class="fw-bold">Number of features: </span>
        <span class="">{{ profile.dataset.features }}</span>
    </div>
    <div>
        <span class="fw-bold">Number of rows: </span>
        <span class="">{{ profile.dataset.rows }}</span>
    </div>


    <!-- For each feature -->
    <h2 class="mt-4">Features</h1>

        <div class="row">

            {% for feature, details in profile.features.items() %}

                <div class="col-4">
                    <h4 class="mt-2">{{ feature }}</h4>
                    <div>
                        <span class="fw-bold">Data type: </span>
                        <span class="">{{ details.data_type }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Role: </span>
                        <span class="">{{ details.role }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Unique Values: </span>
                        <span class="">{{ details.unique_values }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Feature Type: </span>
                        <span class="">{{ details.feature_type }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}

<!-- JS Libs -->
{% block js %}
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock js %}