{% extends '/layouts/layout.html' %}

{% block title %}Home - Auto Prep as a Service{% endblock %}

{% block content %}

    <h1 class="mt-4">Exploratory Data Analysis</h1>

    <h2 class="mt-4">Dataset Characteristics</h1>

    <div>
        <span class="fw-bold">Number of features: </span>
        <span class="">{{ eda.dataset.features }}</span>
    </div>
    <div>
        <span class="fw-bold">Number of rows: </span>
        <span class="">{{ eda.dataset.rows }}</span>
    </div>

    <h2 class="mt-4">Duplicates</h1>
    <div>
        <span class="fw-bold">Total: </span>
        <span>{{ eda.dataset.duplicates.sum }}</span>
    </div>

    <h2 class="mt-4">Features - Univiarate Analysis</h1>

    <div class="row p-2">

        {% for name, details in eda.features.items() %}

            <div class="col-6 border ">
                <h3 class="mt-2">{{ name }}</h3>

                <div class="row py-2">

                    <div class="col-4">

                        <h5 class="mt-2">Details</h5>

                        <div>
                            <span class="fw-bold">Data type: </span>
                            <span class="">{{ details.data_type }}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Role: </span>
                            <span class="">{{ details.role }}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Unique Values: </span>
                            <span class="">{{ details.unique_values }}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Feature Type: </span>
                            <span class="">{{ details.feature_type }}</span>
                        </div>
                    </div>

                    <div class="col-4">

                        <h5 class="mt-2">Statistics</h5>

                        {% if details.feature_type == 'Numerical' %}
                            <div>
                                <span class="fw-bold">Count: </span>
                                <span class="">{{ details.eda.statistics.count }}</span>
                            </div>
                            <div>
                                <span class="fw-bold">Mean: </span>
                                <span class="">{{ details.eda.statistics.mean }}</span>
                            </div>
                            <div>
                                <span class="fw-bold">Standard Deviation: </span>
                                <span class="">{{ details.eda.statistics.std }}</span>
                            </div>
                            <div>
                                <span class="fw-bold">Min: </span>
                                <span class="">{{ details.eda.statistics.min }}</span>
                            </div>
                            <div>
                                <span class="fw-bold">Max: </span>
                                <span class="">{{ details.eda.statistics.max }}</span>
                            </div>
                        {% elif details.feature_type == 'Categorical' %}
                            <div>
                                <span class="fw-bold">Categories: </span>
                                {% set keys = details.eda.statistics.keys()|list %}
                                {% for key in keys[:10] %}
                                    <span class="">{{ key }}, </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-4">

                        <h5 class="mt-2">Missing Values</h5>

                            <div>
                                <span class="fw-bold">Total: </span>
                                <span class="">{{ details.eda.missing_data.missing_values }}</span>
                            </div>
                            <div>
                                <span class="fw-bold">Percentage: </span>
                                <span class="">{{ details.eda.missing_data.percentage }}</span>
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

<!-- JS Libs -->
{% block js %}
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock js %}