{% extends '/layouts/layout.html' %}

{% block title %}Home - Auto Prep as a Service{% endblock %}

{% block content %}
    <h1 class="mt-4">Select target feature for the dataset</h1>

    <form id="file-form" action="/eda" method="POST" enctype="multipart/form-data">

        <input name="id" value="{{ user_case.id }}" type="text" hidden>
        <div class="form-group my-2">
            <label for="target-select">Please select the target feature for your analysis</label>
            <select class="form-select my-2" id="target-select" name="target-select">
                {% for name in feature_names %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-sm btn-primary" id="submit">Analyze</button>
    </form>
{% endblock %}

<!-- JS Libs -->
{% block js %}
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock js %}